.logo {
  height: 120px;
}

.ant-layout-header {
  background-color: white !important;
}

.ant-layout.ant-layout-has-sider {
  height: 100vh;
}

.trigger {
  margin: 12px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 0 10px;
  font-size: 20px;
}